.tableTitle {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: repeat(5, auto);
    grid-gap: 6px;

}


.tableRow {
    display: grid;
    
    grid-template-columns: repeat(5, 140px);
    grid-template-rows: repeat(5, auto);
    grid-gap: 6px;
    white-space: nowrap;
}

.colorSwitch {

}